.main-heading {

    display: flex;
width: 257px;
height: 109px;
padding: 0px 80.5px 0px 81.5px;
justify-content: center;
align-items: center;
flex-shrink: 0;
    
}

.main-heading-teachers {

    display: flex;
width: 257px;
height: 109px;
padding: 0px 74.5px 0px 75.5px;
justify-content: center;
align-items: center;
flex-shrink: 0;
}